  
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, #000000, #a5a2a2);
        color: #fff; 
      }

      .container {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
      }

      .section {
        width: 100%;
        background-color: #333333; 
        padding: 20px;
        margin: 20px 0;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
      }
      
      .about-me {
        display: flex;
        align-items: center;
      }
      
      .about-me img {
        width: 25%;
        margin-right: 20px;
      }

      h1 {
        color: #fff; 
        margin-bottom: 10px;
      }
 
      span{
        color:#007bff;
      }
      p {
        color: #fff;
        line-height: 1.5;
      }

      img {
        max-width: 100%;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }
      .section:hover{
        transform: scale(1.1);
        transition: all .5s ease-in-out;
      }